{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h2 class="home-title">
    {{ 'home.title.label'|trans }}
</h2>
    <button class="btn btn-primary">ok</button>

{% endblock %}
